<web-app id="WebApp_ID"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Restful Web Application</display-name>

     <context-param> <param-name>C:\Users\Saeed\Documents\Graduation Final Project\PDPServer\src\main\java\Backend</param-name> <param-value>true</param-value>
        </context-param>

    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>REST.JSONService</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/json/*</url-pattern>
    </servlet-mapping>

</web-app>